<BOUCLE_cartouche(ARTICLES){id_article}>
<header class="cartouche">
	[(#LOGO_ARTICLE|image_reduire{200,200})]
	[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
	<h1><span class="#EDIT{titre}">#TITRE</span>[
		<small class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</small>
		]</h1>

	[(#REM) Inclure le modele des liens de traductions ]
	<div class="postmeta">
		#MODELE{article_traductions}


	<B_tags>
		<span class="tags">
			<span class="sep">|</span>
			<ul class="inline list-inline">
				<BOUCLE_tags(MOTS){id_article}><li class="list-inline-item"><a class="label label-default" href="#URL_MOT">#ICON{tag} #TITRE</a></li></BOUCLE_tags>
			</ul>
		</span>
	</B_tags>
</div>
</header>
</BOUCLE_cartouche>