<body data-spy="scroll" data-target="#nav" id="page-top">
[(#INCLURE{fond=inclure/nav,env}) ]
<div class="container">
	<INCLURE{fond=content/#ENV{type-page},env} />
	<div class="aside secondary col col-md-12 " id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
		<INCLURE{fond=extra/#ENV{type-page},env} />
	</div>
</div>
<div class="footer" id="footer">
	<INCLURE{fond=footer/#ENV{type-page},env} />
</div>
</body>