<body data-spy="scroll" data-target="#nav" id="page-top">
[(#INCLURE{fond=inclure/nav2,env}) ]
<div class="container">
	<div class="row">
		<div class="logo_du_site m-3">
			[(#LOGO_SITE_SPIP|image_reduire{300,300})]
		</div>
	</div>
	<div class="row">
		<INCLURE{fond=content/#ENV{type-page},env} />
	</div>
	<div class="aside secondary col col-md-12 " id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
		<INCLURE{fond=extra/#ENV{type-page},env} />
	</div>
</div>
<div class="footer" id="footer">
	<INCLURE{fond=footer/#ENV{type-page},env} />
</div>
</body>