#HTTP_HEADER{Content-Type: text/javascript}

;var socialtags_addfavorite = function(u,t){
	if(document.all)window.external.AddFavorite(u,t);
};

function share_content(evt){

elem=$(evt.target)

if($(elem).is('i'))
	elem = $(elem).parent('a')
href=$(elem).attr('href');
if ($(elem).parent('li').attr('class')!='mail'){
	window.open(href, "_blank", "screenX=50,left=50,screenY=50,top=50, width=550, height=450,toolbar=no, location=no,resizable=yes, scrollbars=yes")

return false;
}

return true;
}

function init_socialtags(){

var selector = $('[(#CONFIG{socialtags/jsselector}|sinon{#contenu})]');
if (!selector.length) return;
var socialtags = [(#CONFIG{socialtags/tags}|socialtags_json)];

$(selector).each(function(){


	var title = $('h3',this).text()+' - '+$('title').text();
	var description = ($('.introduction',this).text() || '').substr(0,250);
	var cano = $('a',this)[0];
	var url = cano ? $(cano).attr('data-href') : document.location.href;
	var socialdropdown = $('<div class="socialtagshare"><\/ul>');
	var esc = function(x){return encodeURIComponent(x).replace(/\s/g,' ');};
	var ref = document.referrer.match(/^.*\/\/([^\/]+)\//);


	$(socialdropdown).append('	<div id="socialShare" ><i class="glyphicon glyphicon-share fa-inverse"></i> <ul class="btn-social"></ul></div>')
	var ul = $('.btn-social',socialdropdown);



	if (ref && ref[1].match(/\.facebook\./))
	$.cookie('social_facebook', 1, { path: '/', expires: 30 }); // 30 jours

	$.each(socialtags, function(){ if (this.u) {
	if (this.a == 'bookmark' && !document.all) return;

	[(#CONFIG{socialtags/ifreferer}|?{"
	if ($.cookie('social_'+this.a)!=1) return;"})]





	$('<a rel="nofollow" data-original-title="+ this.n +" rel="tooltip"  href="#" class="btn btn-'+ this.a +'" data-placement="left"><i class="socicon-'+ this.a +'"></i><\/a>')
		.attr('href',
		this.u
		.replace(/%u/g, esc(url))
		.replace(/%t/g, esc(title))
		.replace(/%d/g, esc(description))
		.replace(/%u_site/g, esc(this.u_site))
		)
		.attr('title', this.n).wrap('<li class="'+this.a+'"><\/li>').click(share_content)
			.parent().appendTo(ul);
			}});


			$(this).append(socialdropdown);



});




}



$(document).ready(function(){
	init_socialtags();
});

