<div class="footer">
	<div class="colophon">
		<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee> - </B_annee>[(#DATE|annee) ]#NOM_SITE_SPIP
	</div>
	[(#INCLURE{fond=inclure/menu, env, identifiant=basdepage})]
</div>
[<script src="(#CHEMIN{js/scripts_footer.js})"></script>]