#CACHE{0}
<div class="formulaire_spip formulaire_#FORM" id="formulaire_#FORM[_(#ENV{id_abomailman})]">

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

   [(#ENV*{editable}|oui)
      <form method='post' action='#ENV{action}' class="form-inline">
         <div class="abonnement">
            #ACTION_FORMULAIRE{#ENV{action}}

             <div class="form-group">
               #SET{erreurs,#ENV**{erreurs}|table_valeur{la_demo}}

                  [<span class='erreur_message'>(#GET{erreurs})</span>]
                 <label>Recevoir notre lettre d'information</label>
                 <div class="input-group">

                     <input class="form-control" name="email" id="email" type="text" value="<:abomailmans:votre_email:>" placeholder="adresse@email.fr" aria-label="adresse@email.fr" onclick="this.value=''" />

                     <div class="input-group-btn">
                         <input type="submit" class="submit btn btn-default" value="S'inscrire" />
                     </div>
                 </div>
             </div>

            [(#REM) Piege a robots spammeurs, du moins on essaie]
			<p style="display:none;">
				<label for="nobot_abomailman"><:antispam_champ_vide:></label>
				<input type="text" class="text" name="nobot" id="nobot_abomailman" value="#ENV{nobot}" size="10" />

			</p>

         </div>
      </form>
   ]
</div>
