<div class='formulaire_spip formulaire_newsletter formulaire_[(#FORM)] ajax'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method='post' action='#ENV{action}'>
		<div>
		#ACTION_FORMULAIRE{#ENV{action}}
		#SET{name,session_email}
		#SET{obli,'obligatoire'}
		#SET{defaut,''}
		#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
		<div class="form-group">
			<div class="input-group">
				<input type="email" name="#GET{name}" placeholder="votre_adresse@email.fr" class="email form-control" value="#ENV*{#GET{name}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required'] aria-describedby="explication_abonnement">
				<div class="input-group-append">
					<button class="btn btn-secondary" type="submit" id="btn-submit">Ok</button>
				</div>
			</div>
		</div>
		</div>
	</form>
	]
</div>
