<p><a href="mailto:#EMAIL_WEBMASTER"><i class="fa fa-envelope fa-fw"></i> #EMAIL_WEBMASTER</a></p>

<h3 class="h3">Pour nous suivre</h3>
[(#REM)<div class="ajax">
    [(#FORMULAIRE_ABOMAILMAN_MINI_UNE_LISTE{1})]
</div>
]
<div class="ajax">
    <div class="bloc">
        <div id="explication_abonnement" >Abonnez vous à notre infolettre</div>
        [(#FORMULAIRE_NEWSLETTER_SUBSCRIBE{'raoullette'})]
    </div>
</div>


<ul class="list-inline banner-social-buttons">
    <li class="list-inline-item">
        <a href="https://framapiaf.org/@Raoull" class="btn btn-default btn-lg"><i
                class="fab fa-mastodon fa-fw"></i> <span class="network-name">Mastodon</span></a>
    </li>
    <li class="list-inline-item">
        <a href="[(#URL_PAGE{backend})]" class="btn btn-default btn-lg"><i
            class="fa fa-rss fa-fw"></i> <span class="network-name">Flux RSS</span></a>
    </li>
</ul>
