<B_services>
	<div id="les_services">
	<div class="row">
	<BOUCLE_services(ARTICLES){id_rubrique=2}>
		<div class="col-sm-6 col-md-4 col-lg-3">
			#SET{titre,#TITRE|ruban_titre}
			#SET{ruban,#TITRE|ruban}
			<div class="service[(#GET{ruban}|oui) muted]">


				[(#GET{ruban}|non)<a href="#URL_ARTICLE" class="btn-modal">]
				<div class="logo">
					<img src="[(#LOGO_ARTICLE|image_reduire{250,250}|extraire_attribut{src})]" class="img-fluid" alt="logo du service #TITRE"/>
				</div>
				<div class="nom_service">#GET{titre}</div>
				[<div class="ruban">(#GET{ruban})</div>]
				<div class="slogan_service">#SOUSTITRE</div>
				[(#GET{ruban}|non)</a>]
			</div>
		</div>
	</BOUCLE_services>
	</div>
	</div>
</B_services>