<B_services>
	<div id="les_services">
	<div class="row">
	<BOUCLE_services(ARTICLES){id_rubrique=2}>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="service">
			<a href="#URL_ARTICLE?var_mode=recalcul" class="btn-modal">
				<div class="logo">
					<img src="[(#LOGO_ARTICLE|image_reduire{250,250}|extraire_attribut{src})]" class="img-fluid"/>
				</div>
				<div class="nom_service">#TITRE</div>
				<div class="slogan_service">#SOUSTITRE</div>
			</a>
			</div>
		</div>
	</BOUCLE_services>
	</div>
	</div>
</B_services>