<B_auteurs>
	<span class="les_auteurs"> <:par_auteur:>
	<BOUCLE_auteurs(AUTEURS){id_objet}{objet}{par nom}{", "}>
		<span class="vcard author"><a href="#URL_AUTEUR">#NOM</a></span>
</BOUCLE_auteurs>
	</span>
</B_auteurs>