<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    [<h1 class="brand-heading"><img
                        src="(#LOGO_SITE_SPIP|image_reduire{800,800}|extraire_attribut{'src'})" class="img-fluid"
                        alt="#NOM_SITE_SPIP"/>
                    #NOM_SITE_SPIP
                </h1>]
                    <p class="brand-heading"></p>
                    <p class="intro-text"> #SLOGAN_SITE_SPIP</p>
                    <BOUCLE_Art0
                    (ARTICLES){id_article=1}>
                    <BOUCLE_Art0lang
                    (ARTICLES){traduction}{lang}>
                    <a href="#article#ID_ARTICLE" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    </BOUCLE_Art0lang>
                    </BOUCLE_Art0>

                </div>
            </div>
    </div>
</header>


<BOUCLE_Art1(ARTICLES){id_article=1}>
<BOUCLE_Art1lang(ARTICLES){traduction}{lang}>
<section id="article#ID_ARTICLE" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>#TITRE</h2>
            #TEXTE
        </div>
    </div>
</section>

</BOUCLE_Art1lang>
</BOUCLE_Art1>


<BOUCLE_rub_actu(RUBRIQUES){id_rubrique=1}>

<!-- About Section -->
<section id="rubrique#ID_RUBRIQUE" class="container content-section text-center">

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
        <h2>#TITRE</h2>
        [(#TEXTE)]
        </div>
    </div>
    [(#INCLURE{fond=inclure/actu_slick}{id_rubrique})]
</section>
<div class="clearfix"></div>
</BOUCLE_rub_actu>
</B_rub_actu>






<BOUCLE_Art2(ARTICLES){id_article=4}>
<section id="article#ID_ARTICLE" class="content-section text-center">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <h2 class="#EDIT{titre}">#TITRE</h2>
            [
            <div class="#EDIT{texte}">(#TEXTE)</div>
            ]
        </div>
    </div>
</section>

</BOUCLE_Art2>


<BOUCLE_Art5(ARTICLES){id_article=5}>
<!-- About Section -->
<section id="article#ID_ARTICLE" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="#EDIT{titre}">#TITRE</h2>
            [
            <div class="#EDIT{texte}">(#TEXTE)</div>
            ]
        </div>
    </div>
</section>
</BOUCLE_Art5>


<BOUCLE_Art4(ARTICLES){id_article=6}>
<BOUCLE_Art4lang(ARTICLES){traduction}{lang}>
<!-- About Section -->
<section id="article#ID_ARTICLE" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>#TITRE</h2>
            <div class="texte">#TEXTE</div>
        </div>
    </div>
</section>
</BOUCLE_Art4lang>
</BOUCLE_Art4>

