<B_actu>
	<div class="row">
		<div class="col-lg-12">
			<div class="slider">
				<BOUCLE_actu(ARTICLES){id_rubrique}{par date}{inverse}>
				<div class="actu slide">
					<div class="tt">
						<a data-href="[(#URL_ARTICLE|url_absolue)]"></a>
						<img src="[(#LOGO_ARTICLE|image_reduire{300,300}|image_recadre{300,150}|extraire_attribut{src})]"
							 class="img-fluid" alt="[(#INCLURE{fond=inclure/image_alt,id_document=#ID_LOGO_ARTICLE})]" title="[(#INCLURE{fond=inclure/image_title_credit,id_document=#ID_LOGO_ARTICLE})]"/>
						<div class="titre_texte">
							[<h3 class="h3 #EDIT{titre}">(#TITRE)</h3>]
							[<div class="texte #EDIT{descriptif}">
							(#DESCRIPTIF|textebrut|sinon{#TEXTE|textebrut|couper{100}})
						</div>]
						</div>
						<div class="bas_d_actu">
							[(#TEXTE|textebrut|strlen|>={100}|oui)<a
								href="[(#URL_ARTICLE)]"
								class="btn btn-sm btn-block btn-default btn-modal">Lire la suite</a>]
						</div>
					</div>
				</div>
				</BOUCLE_actu>
			</div>
		</div>
	</div>
</B_actu>
</BOUCLE_rub_actu>
