<BOUCLE_principale(ARTICLES) {id_article}>


<div class="main">
	[(#REM) Contenu principal : contenu de l'article]
	<div class="wrapper hfeed">
		<div class="content hentry" id="content">

			<div class="cartouche clearfix">
				[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
				<h1 class="#EDIT{titre} surlignable entry-title">[(#LOGO_ARTICLE_RUBRIQUE|image_reduire{150,*}) ]#TITRE</h1>
				[<p class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</p>]
				<p class="info-publi"><abbr class="published" title="[(#DATE|date_iso)]">[(#DATE|nom_jour) ][(#DATE|affdate)]</abbr></p>
				[(#REM) Inclure le modele des liens de traductions ]
				#MODELE{article_traductions}
			</div>

			[<div class="#EDIT{chapo} chapo surlignable">(#CHAPO|image_reduire{672,*})</div>]
			[<div class="#EDIT{texte} texte surlignable clearfix">(#TEXTE|image_reduire{672,*})</div>]

			[<hr /><p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
			[<div class="#EDIT{ps} ps surlignable"><hr />(#PS|image_reduire{672,*})</div>]

			[(#REM) Gestion du portfolio et des documents ]
			[(#INCLURE{fond=inclure/documents,id_article,id_rubrique='',env})]

			<B_mots>
				<div class="mots">
					<i class="fa fa-tag"></i>
					<BOUCLE_mots(MOTS){id_article}{par titre}{" - "}>
					<a href="#URL_MOT">#TITRE</a>
					</BOUCLE_mots>
				</div>
			</B_mots>


		</div><!--.content-->
	</div><!--.wrapper-->


</div><!--.main-->


</BOUCLE_principale>