[(#REM)
	Head standard de toutes les pages ; les elements specifiques
	(title, description) figurent dans le squelette article.html
]

[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]
<meta name="viewport" content="width=device-width, initial-scale=1.0">




[<link rel="stylesheet" href="(#CHEMIN{css/styles.css})" type="text/css" />]

[(#REM) Balise permettant aux plugins d'inserer des fichiers CSS ]
#INSERT_HEAD_CSS

[<link rel="stylesheet" href="(#CHEMIN{css/spipr_dist.css})" type="text/css" />]


[(#REM) Feuille de style du theme]
[<link rel="stylesheet" href="(#CHEMIN{css/theme.css})" type="text/css" />]

[(#REM) Feuille de style CSS pour l'impression, n'existe pas par defaut ]
[<link rel="stylesheet" href="(#CHEMIN{css/print.css})" type="text/css" media="print" />]


[(#REM) Feuille de style du theme]
[<link rel="stylesheet" href="(#CHEMIN{fonts/fonts.css})" type="text/css" />]



[(#REM) Feuille de style personnalisee pour surcharger les precedentes
A noter par defaut cette css n'existe pas
]
[<link rel="stylesheet" href="(#CHEMIN{css/perso.css})" type="text/css" />]

[(#REM) Balise permettant aux plugins d'inserer des appels javascript ou css ;
C'est ici que SPIP va inserer l'appel de la librairie jQuery
Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques
si l'option est cochee dans Configuration
]

#INSERT_HEAD

[<script type="text/javascript" src="(#CHEMIN{js/scripts.js})"></script>]

<!--[if lt IE 9]>
[<script src="(#CHEMIN{js/html5.js})"></script>]
[<script src="(#CHEMIN{js/respond.min.js})"></script>]
<![endif]-->

[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]








