<nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand page-scroll" href="#page-top">[(#NOM_SITE_SPIP)]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barre_de_navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse navbar-custom" id="barre_de_navigation">
        [(#INCLURE{fond=inclure/menu, env, identifiant=barrenav})]
    </div>
</nav>