<nav id="nav2" class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand page-scroll" href="#URL_SITE_SPIP">[(#NOM_SITE_SPIP)]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barre_de_navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-menu"></i>
    </button>

    <div class="collapse navbar-collapse navbar-custom" id="barre_de_navigation">
        <ul class="nav navbar-nav"><li><a href="#URL_SITE_SPIP">Retour à la page d'accueil</a></li></ul>
    </div>
</nav>