#les_services{
  padding-bottom:2em;
  .service{

    .logo{
      padding:0 2em;
      display: flex;
      align-items: center;
      min-height: 200px;
      img{
        margin: 0 auto;
      }
    }
    .nom_service { font-size:1.2em; font-weight: bold; }
    .slogan_service {  }

  }
  .service.muted{
    .logo{
     opacity: 0.6;
    }
    .nom_service { opacity: 0.6; }
    .slogan_service { opacity: 0.6; }
  }
  .ruban{
    background-color: $orangetrans;
    color:$white;
    width: 80%;
    position: absolute;
    padding:0.25em 0.5em;
    font-size:0.9em;
    transform: rotate(-10deg);
    margin-top: -10em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5%;

  }
}

