@import "functions";
@import "scss/variables";
@import "mixins";



@import "les_services";

body {
  width: 100%;
  height: 100%;
  font-family: $font-family-sans-serif;
  color: $gray-700;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 1.5;
  @media (min-width: 992px) {
    margin: 0 0 35px;
    font-size: 16px;
    line-height: 1.6;
  }
}

a {
  color: $primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.light {
  font-weight: 400;
}


#nav{
  transition: 1s;
  background-color: $white;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  .navbar-brand{
    visibility:hidden;
    color:$white;
    font-weight: 700;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      outline: none;
    }
  }
  .navbar-toggler {
    margin:0.5em 1em;
  }

  @media (max-width: map-get($grid-breakpoints, "lg") ) {
    background-color: $white;
  }
}

.page_article{
  body{padding-top:3em;}
  #nav2{
    background-color: #ffa337;
    a{color:white;}
  }

}



#nav.under_the_top{
  background-color: $primary;



  .navbar-brand{
    visibility:visible;
  }
  a { color: $white;
  &.active{ background-color: darken($primary,10)}
  }
  .navbar-toggler {
    border-color: $white;
    color:$white;
    svg{
      color:$white;
    }
  }
}


.navbar-custom {
  margin-bottom: 0;
  justify-content: flex-end;
  border-bottom: 1px solid fade(white, 30%);
  a { color: white; }
  ul.nav {
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

        &:hover {
          color: fade(white, 80%);
          outline: none;
          background-color: transparent;
        }

        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }

      &.active {
        outline: none;

        a {
          background-color: fade(white, 30%);

          &:hover {
            color: white;
          }
        }
      }
    }
  }






}


.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $gray-700;

  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }
    .intro-text {
      background-color: $whitetrans90;
      font-size: 18px;
    }
  }
  @media (min-width: 992px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 26px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  padding: 7px 16px;
  border: 2px solid $gray-700;
  border-radius: 100% !important;
  font-size: 40px;
  color: $gray-700;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: none;
    color: black;
    background: fade(white, 10%);
  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover {
    i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
}


.content-section {
  padding-top: 100px;
  outline: none;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 200px;
  }

  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 1px solid $primary;
  color: $primary;
  background-color: transparent;
  &:hover,
  &:focus {
    border: 1px solid $primary;
    outline: none;
    color: black;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  @media (max-width: 1199px) {
    margin-top: 15px;
  }
  @media (max-width: 767px) {
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#footer {
  padding: 50px 0 0 ;
.footer{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0;

  div.colophon {
    margin:0.5em 2em;
  }

  ul.menu-liste{
    display:flex;
    list-style: none;
    margin:0 2em;
    >li{
      padding:0;
    }
  }
}

}



body {
  webkit-tap-highlight-color: fade(white, 20%);
}

figcaption.caption {
  display: none;
}

.a_venir {
  width: 100%;
  height: 300px;
  background-color: $gray-100;
}

.footer {
  padding: 2em 2em 0.25em 2em;
  font-size: 0.9em;
  text-align: right;

  a:active, a:focus, a:hover{
    background-color: transparent;
  }
}

.info-publi {
  display: none;
}

.actu {

  padding:0.25em 0.5em;
  text-align: left;
  .tt {
    border: 1px solid $gray-100;

  }
  .titre {
    font-size: 1.2em;
  }
  .texte {
  }
  .titre_texte {
    min-height: 240px;
    padding : 0.5em 0.5em 0 0.5em;
  }
  .socialtagshare {
    opacity: 0;
    transition-duration: 0.5s;
    text-align: right;
    font-size: 0.5em;
    li {
      display: inline-block;
      margin: 0 2px;
    }
    a {
    }
    a:hover {
      color: $primary;
    }
  }
  .bas_d_actu{
    min-height: 32px;
  }

}

.actu:hover {
  .socialtagshare {
    opacity: 100;
  }

}

.modal-body {
    img.spip_logo{float: left; margin-right: 0.5em;margin-bottom: 0.5em;}
}
.slick-next, .slick-prev{

  height: 40px;
  width: 40px;
}

.slick-next::before, .slick-prev::before{

  color:$primary;
  font-size:40px;
}

body .spip-admin-float {
  z-index:2000;
}

.cartouche{
  .publication{
    display:none;
  }
}