
$white:              #FFF;
$whitetrans10: rgba(255, 255, 255, 0.10);
$whitetrans70: rgba(255, 255, 255, 0.70);
$whitetrans90: rgba(255, 255, 255, 0.90);
$whitetrans85: rgba(255, 255, 255, 0.85);

$super-couleur: #ffa337;
$gray-dark: lighten(black, 25%);
$gray: lighten(black, 50%);
$white-faded: fade(white, 80%);
$gray-light: #eee;



$color-rouge-flat:          #CB4041;
$color-flat-iron2:#ACBAC9;
$rouge_corail:          #fb2e2e;
$color-flat-concrete :      #95A0AF;
$color-flat-blue-whale:         #28324e;
$color-flat-iron-gray:          #75706B;
$color-flat-blue-whaletrans: rgba(40, 50, 78, 0.79);
$color-flat-white-smoke:        #EFEFEF;
$color-flat-curious-blue:       #3D8EB9;
$color-flat-denim:              #2969B0;
$color-flat-iron:               #D1D5D8;

$gray-base:              #333;
$gray-darker:            darken($color-flat-blue-whale,10%);
$gray-dark:              $color-flat-blue-whale;
$gray:                   $color-flat-iron-gray;
$gray-light:             $color-flat-concrete ;
$gray-lighter:           $color-flat-white-smoke;

$gris-tres-clair :#f2f2f2;
$gris-clair :#dddee3;



$color-flat-chambray-trans : rgba(71, 85, 119, 0.50);

$blue: $color-flat-denim;
$blue-light: $color-flat-curious-blue;
$blue-dark: darken($blue, 5%);


$cyan : #54ACD2;

$yellow : #FAC51C;
$yellowtrans : rgba(227, 194, 49, 0.70);
$orangeLight : #FBA026;
$orange : #F37934;
$browntrans : rgba(221, 211, 158, 0.63);
$green:#61BD6D;

$whitetrans0 : rgba(255, 255, 255, 0);
$orangetrans : rgba(243, 121, 52, 0.8);